h1,h2,h3,h4,h5,h6,a,button,p,svg,table,li {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.modal{
  min-width: 300px;
}

.modal-content{
  color: #000;
}

.uppercase-text{
  text-transform: uppercase;
}

li[onclick]{
  cursor: pointer;
}
li[onclick]:hover{
  background-color: #eee;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

input[disabled], input[type=range][disabled]::-webkit-slider-thumb {
    background: #c2c0c2;
    background-color: #c2c0c2;
    cursor: not-allowed;
}

.range-field{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .modal-fixed-footer.open{
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100% !important;
  }
}

select.browser-default{
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

.collection-icon{
  margin-bottom: -0.5rem;
  float: right;
}

.two-col-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem
}

.three-col-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem
}

/* margin */
.mt, .ma, .mv{
  margin-top: 1rem;
}
.mb, .ma, .mv{
  margin-bottom: 1rem;
}
.ml, .ma, .mh{
  margin-left: 1rem;
}
.mr, .ma, .mh{
  margin-right: 1rem;
}
