<template name="giveUp">
  <div id="giveUp" class="mv">
    {{#if equal leader userId}}

      <a class="waves-effect waves-light btn modal-trigger orange" href="#giveUpModel">Abgehen</a>
      <div id="giveUpModel" class="modal">
        <div class="modal-content">
          <h4>Abgehen</h4>
          <p>Falls du vermutest, die gereitzten {{bid}} Augen nicht zu erspielen, kannst du jetzt diese Runde aufgeben (abgehen).<br />Die Folgen sind:</p>
          <ul class="browser-default">
            <li>Du wählst einen Trumpf.</li>
            <li>Die anderen Teams melden und bekommen zusätzlich {{addPoints}} Augen als Entschädigung.</li>
            <li>Du bekommst das gereitzte Gebot {{bid}} nur einfach abgezogen.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-grey btn-flat">abbrechen</a>
          <a id="giveUpSubmit" class="modal-close waves-effect waves-light btn orange">Abgehen!</a>
        </div>
      </div>

    {{/if}}
  </div>
</template>
