<template name="join_game">
  <div class="container">
    <h2>Spiel beitreten</h2>
      <div class="row">
      {{#each teamNr in range 1 nrTeams}}
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                Team {{teamNr.n}}
                <button class="changeTeam btn-floating brown material-icons right" team="{{teamNr.n}}">call_received</button>
              </span>
              <div style="height:1rem"></div>
              <ul class="collection">
                {{#each player in getTeam teamNr.n}}
                  <li class="collection-item">
                    {{#if player.open}}
                      <i>Offen</i>
                    {{else}}
                      {{username player.userId}}
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
      </div>

      <div class="row">
        <button id="startGame" class="brown btn mb col s12 m4 push-m8">Spiel starten</button>
        <a class="grey btn mb col s12 m3" href="/">zurück</a>

        <button id="leaveGame" class="red btn mb col s12 m3 pull-m7">Spiel verlassen</button>
      </div>

    </div>
</template>
