<template name="makeDurch">
  <div id="makeDurch" class="mv">
    {{#if equal leader userId}}

      {{#if durch}}
        <p>Du spielst einen "Durch"!</p>
      {{else}}

      <a class="waves-effect waves-light btn modal-trigger purple" href="#durchModel">Durch spielen</a>
      <div id="durchModel" class="modal">
        <div class="modal-content">
          <h4>Durch Spielen</h4>
          <p>Falls du dir sicher bist, alle Stiche zu machen, kannst du einen "Durch" spielen.<br />Die Folgen sind:</p>
          <ul class="browser-default">
            <li>Es gibt keinen Trumpf.</li>
            <li>Es wird nicht gemeldet.</li>
            <li>Du kommst raus.</li>
            <li>Falls du alle Striche machst, bekommst du 1000 Augen, sonst -2000.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-grey btn-flat">abbrechen</a>
          <a id="durchSubmit" class="modal-close waves-effect waves-light btn purple">Durch spielen!</a>
        </div>
      </div>

      {{/if}}

    {{else}}

      {{#if durch}}
        <p>{{username leader}} spielt einen "Durch"!</p>
      {{/if}}

    {{/if}}
  </div>
</template>
