<template name="roundInfo">
  <div id="round-info">
    <p>
    {{#unless equal step "playing"}}
      {{username currentPlayer.userId}} kommt raus<br />
    {{/unless}}
    {{#if bid}}      
      {{#if durch}}
        {{username leader}} spielt einen Durch
      {{else}}
        {{username leader}} hat {{bid}} gereitzt
      {{/if}}
    {{/if}}
    </p>
    {{#if trump}}
    <div id="game-trump" class="card">
      <span>Trumpf</span>
      <img src="/cards/{{trump}}.svg" style="margin-left:.5rem;width:2rem" />
    </div>
    {{/if}}
  </div>
</template>
