<template name="internal_body">
  {{> nav}}
  {{#if userId}}
    {{#if subscriptionReady}}
      {{> Template.dynamic template=page}}
    {{else}}
    <div style="position: absolute; top: 40%; width: 80%; left: 10%;">
      <h4>Lade Daten...</h4>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    {{/if}}
  {{else}}
    {{> login}}
  {{/if}}
  <div style="width:100%;height:6rem"></div>
</template>
