<template name="login">
  <div class="container">
    <h1>Login</h1>
    <form class="login-form mt-3 mb-3">
      <div class="input-field">
        <i class="material-icons prefix pt-5">person_outline</i>
        <input id="username" type="text" class="validate" autocomplete="username">
        <label for="username" class="" data-error="Benutzername falsch!">Benutzername</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix pt-5">lock_outline</i>
        <input id="password" type="password" class="validate" autocomplete="current-password">
        <label for="password" data-error="Passwort falsch!" class="">Passwort</label>
      </div>
      <div class="input-field">
        <a id="login-button" class="btn brown waves-effect waves-light">Login</a>
        <a href="/register" class="btn grey waves-effect waves-light">Registrieren</a>
      </div>
    </form>
  </div>
</template>
