<template name="friends">
  <div class="container">
    <h4>Freunde</h4>


    <p>Meine Freunde</p>
    <ul class="collection">
      {{#each user in get_friends}}
        <li class="collection-item two-col-grid">
          <div>{{user.username}}</div>
          <div>
              <a href="" class="collection-icon" onclick="Meteor.call('users.removeFriend','{{user._id}}')"><i class="material-icons red-text">delete</i></a>
          </div>
        </li>
      {{else}}
        <li class="collection-item">Keine Freunde</li>
      {{/each}}
    </ul>

    <p>Freundschaftsanfragen</p>
    <ul class="collection">
      {{#each user in get_friendsDiff}}
        <li class="collection-item two-col-grid">
          <div>{{user.username}}</div>
          <div>
              <a href="" class="collection-icon addDiffFriend" username="{{user.username}}"><i class="material-icons brown-text">add</i></a>
          </div>
        </li>
      {{else}}
        <li class="collection-item">Keine Anfragen</li>
      {{/each}}
    </ul>





  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light brown modal-trigger" href="#addFriendModal">
      <i class="material-icons">add</i>
    </a>
  </div>


  <div id="addFriendModal" class="modal">
    <div class="modal-content">
      <h4>Freund hinzufügen</h4>
      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">person</i>
         <input type="text" id="addFriendAutocomplete" class="autocomplete">
         <label for="addFriendAutocomplete">Benutzername</label>
       </div>
     </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
      <a id="addFriend" class="modal-close waves-effect waves-green btn-flat">Hinzufügen</a>
    </div>
  </div>

  </div>
</template>
