<template name="profile">
  <div class="container">
    <h4>Profil</h4>
    {{#let user=get_user}}
    <form class="row">
      <div class="col s12 m6">
        <h5>Namen ändern</h5>
        <div class="input-field">
          <input id="username" type="text" value="{{user.username}}" autocomplete="current-username">
          <label for="username" class="active">Benutzername</label>
        </div>
      </div>
      <div class="col s12 m6">
        <h5>Passwort ändern</h5>
        <div class="input-field">
          <input id="currentPassword" type="password" autocomplete="current-password">
          <label for="currentPassword">Aktuelles Passwort</label>
        </div>
        <div class="input-field">
          <input id="newPassword" type="password" autocomplete="new-password">
          <label for="newPassword">Neues Passwort</label>
        </div>
        <div class="input-field">
          <input id="newPassword2" type="password" autocomplete="new-password">
          <label for="newPassword2">Neues Passwort wiederholen</label>
        </div>
        <a id="changePassword" class="btn orange left">Passwort ändern</a>
      </div>

      <div class="col s12 m6">
        <h5>Account löschen</h5>
        <a id="deleteButton" class="btn red waves-effect waves-light modal-trigger" data-target="deleteModal">Löschen</a>
        <div id="deleteModal" class="modal">
          <div class="modal-content">
            <h4>Soll dein Benutzer wirklich gelöscht werden?</h4>
            <p>Mit dem Klick auf <i class="uppercase-text">löschen</i> wird dein Benutzer unwiederruflich gelöscht.</p>
          </div>
          <div class="modal-footer">
            <a class="grey btn white-text modal-close waves-effect left">abbrechen</a>
            <a id="deleteSubmit" class="red btn white-text waves-effect waves-green right">löschen</a>
          </div>
        </div>
      </div>

    </form>

    {{/let}}
  </div>
</template>
