<template name="nav">
<nav class="brown" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="page brand-logo">Binokel</a>

    <ul id="nav-main" class="right ">
      {{#if userId}}
      <li class="mr hide-on-med-and-down">
        Hallo {{username userId}}
      </li>
      {{/if}}
      {{#each pages}}
      <li class="{{active}} hide-on-med-and-down">
        <a href="{{route}}">{{title}}</a>
      </li>
      {{/each}}
      <li>
         <a class='dropdown-trigger' data-target='settings'><i class="material-icons">person</i></a>
         <ul id='settings' class='dropdown-content' style="top:auto !important">
             <li><a href="/friends">Freunde</a></li>
             <li><a href="/profile">Profil</a></li>

             <li class="divider" tabindex="-1"></li>
             <li><a id="logout"><i class="material-icons">logout</i>Ausloggen</a></li>
         </ul>
      </li>
    </ul>

    <a data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <ul id="nav-mobile" class="sidenav">
      <li><h3 class="brown-text mh">Menü</h3></li>
      {{#each pages}}
      <li class="{{active}}"><a href="{{route}}">{{title}}</a></li>
      {{/each}}
    </ul>

  </div>
</nav>
</template>
