<template name="bet">
  <div class="container has-handcards">
    <h2>Reizen</h2>

    {{> roundInfo}}

    <h4 class="center">{{bid}} von {{username leader}}</h4>
      {{#unless equal leader userId}}
        {{#if bedding}}
        <div class="row">
          <div class="col s12 m6 l3">
            <a class="btn-large blue bid mt" style="width:100%" bid="{{next_step_of bid 10}}">Biete {{next_step_of bid 10}}</a>
          </div>
          <div class="col s12 m6 l3">
            <a class="btn-large blue bid mt" style="width:100%" bid="{{next_step_of bid 20}}">Biete {{next_step_of bid 20}}</a>
          </div>
          <div class="col s12 m6 l3">
            <a class="btn-large blue bid mt" style="width:100%" bid="{{next_step_of bid 50}}">Biete {{next_step_of bid 50}}</a>
          </div>
          <div class="col s12 m6 l3">
            <a class="btn-large red mt" style="width:100%" id="i_am_out">Ich bin weg</a>
          </div>
        </div>
        {{else}}
          <p>Warte bis das Reizen beendet ist...</p>
        {{/if}}
      {{else}}
        <p>Du hast das höchste Gebot abgegeben.</p>
      {{/unless}}

      <p>
      {{#each userId in outbid}}
        {{username userId}} ist weg<br />
      {{/each}}
      </p>

      <div class="handcards">
        {{#each handCards}}
          {{> card base64=this class="handCard"}}
        {{/each}}
      </div>

      <div class="clearfix"></div>
    </div>
</template>
