<template name="dapp">
  <div class="container has-handcards">
    <h2>Dapp</h2>

    {{> roundInfo}}

    {{#if equal leader userId}}

      <p>{{selectedDapp}} von {{dapp.length}} Karten zum Drücken ausgewählt</p>
      {{#if equal selectedDapp dapp.length}}
        <button class="btn brown" id="confirmDapp">Dapp ablegen</button>
      {{/if}}

    {{else}}
      <div class="row">
        {{#each base64 in dapp}}
        <div class="col s6 m3">
          {{> card base64=base64}}
        </div>
        {{/each}}
      </div>
      {{username leader}} muss {{dapp.length}} Karten drücken...
    {{/if}}

    {{> makeDurch}}
    {{> giveUp}}

    <div class="handcards">
      {{#each handCards}}
        {{> card base64=base64 class=class}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</template>
