<template name="exclaim">
  <div class="container has-handcards">
    <h2>Rufen</h2>

    {{> roundInfo}}

    {{#if exclaim}}
      {{#if equal exclaim.victim userId}}
        <p>{{username leader}} hat von dir gerufen.</p>
        <div class="row">
          <div class="col s6 m3">
            Gerufen<br />
            {{> card base64=exclaim.card}}
          </div>
          <div class="col s6 m3">
            Zurückgegeben<br />
            {{> card base64=exclaim.return}}
          </div>
        </div>
        <button id="acceptExclaim" class="btn brown">Weiter</button>
      {{else}}
        <p>{{username leader}} hat von {{username exclaim.victim}} gerufen.</p>
        {{> card base64=exclaim.card class=""}}
      {{/if}}
    {{else}}
      {{#if equal leader userId}}
        <div style="width:100%;overflow:auto">
          <div class="row" style="padding-top:1rem">
            {{#each exclaimCards}}
            <div class="col s2">
              {{> card color=color symbol=symbol class=css}}
            </div>
            {{/each}}
          </div>
        </div>

        {{#if exclaimColor}}
        <button id="changeColor" class="btn grey">Farbe ändern</button>
        {{/if}}

        {{#unless exclaimReady}}
          {{#unless exclaimColor}}
            <p>Bitte wähle jetzt eine Farbe!</p>
          {{else}}
            {{#unless exclaimSymbol}}
              <p>Wähle jetzt das Symbol oder ändere noch einmal die Farbe!</p>
            {{else}}
              <p>Wähle jetzt eine Handkarte, die du dem Mitspieler zurückgegeben willst!</p>
            {{/unless}}
          {{/unless}}
        {{else}}
          <button id="exclaim" class="btn brown">Rufen</button>
        {{/unless}}

      {{else}}
        {{username leader}} wählt eine Karte...
      {{/if}}
    {{/if}}

    <div class="handcards">
      {{#each handCards}}
        {{> card base64=this class="handCard"}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</template>
