<template name="playing">
  <div class="container has-handcards">
    <h2>Spiel</h2>

    {{> roundInfo}}

    <div class="stackCards">
      {{#each scard in stack}}
      <div class="stackCard">
        {{playername scard.playerId}}<br />
        {{> card base64=scard.card}}
      </div>
      {{/each}}
      {{#each userId in remainingPlayers}}
      <div class="stackCard">
        {{username userId}}
      </div>
      {{/each}}
    </div>

    {{#if winner}}
      {{#if equal winner userId}}
        <p>Du hast den Stich!</p>
        <button id="nextStitch" class="modal-close btn brown mt">Weiter</button>
      {{else}}
        {{username winner}} hat den Stich
      {{/if}}
    {{else}}
      {{#if equal currentPlayer.userId userId}}
        <p><b>Lege eine Karte</b></p>
        {{#if playableCard}}
            <button id="playCard" class="btn brown mt">Karte legen</button>
        {{/if}}
      {{else}}
        <p>{{username currentPlayer.userId}} ist am Zug</p>
      {{/if}}
    {{/if}}


    <div class="handcards">
      {{#each handCards}}
        {{> card base64=base64 class=class}}
      {{/each}}
    </div>

    <div class="clearfix"></div>
  </div>
</template>
