<template name="showoff">
  <div class="container has-handcards">
    <h2>Melden</h2>

    {{> roundInfo}}

    {{#if showoffSummary}}
      {{#each showoffSummary}}
        {{name}} meldet {{showoff.points}}<br />
        {{#each showoff.sets}}
          {{name}}: {{value}}<br />
        {{/each}}
        <hr />
      {{/each}}
      {{#if showoffReady}}
        {{#unless waiting}}
          <button id="showoffReady" class="btn brown mt">Runde starten</button>
        {{else}}
          <p>Warte auf Mitspieler</p>
        {{/unless}}
      {{/if}}
    {{else}}

      {{#with showoffResult}}
        {{#each sets}}
          {{name}}: {{value}}<br />
        {{/each}}
        <br />
        {{#if points}}
          <b>Augen: {{points}}</b>
        {{else}}
          Wähle die Karten aus, die du melden willst.
        {{/if}}
      {{/with}}

      <div>

        {{#if showoffResult.points}}
          <button id="showoff" class="btn brown mt">Ausgewählte Melden</button>
        {{else}}
          {{#if simpleMode}}
            <button id="showoffAll" class="btn blue mt">Alles Melden</button>
          {{else}}
            <button id="showoff" class="btn red mt">Nichts Melden</button>
          {{/if}}
        {{/if}}
      </div>

      {{#unless haveDapp}}
        {{> makeDurch}}
      {{/unless}}

    {{/if}}



    <div class="handcards">
      {{#each handCards}}
        {{> card base64=this class="handCard"}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</template>
