<template name="summary">
  <div class="container">
    <h2>Auswertung</h2>

    <h3>Diese Runde</h3>
    <p>
    {{username leader}} hat {{#if durch}}einen Durch gespielt{{else}}{{bid}} gereitzt{{/if}} und {{#if won}}gewonnen{{else}}verloren{{/if}}
    </p>
    {{#let players=playerResults}}
    <table>
      <tr>
        <td></td>
        {{#each players.userId}}
          <td>{{username this}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Gemeldet</td>
        {{#each players.showoff}}
          <td>{{points}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Stiche</td>
        {{#each players.stiches}}
          <td>{{points}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Letzter Stich</td>
        {{#each players.lastStitch}}
          <td>{{points}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Summe</td>
        {{#each players.sum}}
          <td>{{points}}</td>
        {{/each}}
      </tr>
      <tr>
        <td><b>Ergebnis</b></td>
        {{#each players.result}}
          <td>{{points}}</td>
        {{/each}}
      </tr>
    </table>
    {{/let}}


    <h3>Teams</h3>
    <table>
      <tr>
        <td></td>
        <td>Augen vorher</td>
        <td>Augen diese Runde</td>
        <td>Augen</td>
      </tr>
      {{#each teams}}
      <tr>
        <td>{{name}}</td>
        <td>{{lastPoints}}</td>
        <td>{{thisPoints}}</td>
        <td>{{points}}</td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="3" style="text-align: right">Ziel</td>
        <td>{{goal}}</td>
      </tr>
    </table>

    {{#if winner}}
      <p>Team {{winner}} hat das Spiel gewonnen.</p>
      {{#unless waiting}}
        <button id="endGame" class="brown btn mv">Spiel beenden</button>
      {{/unless}}
    {{else}}
      {{#unless waiting}}
        <button id="nextRound" class="brown btn mv">Nächste Runde starten</button>
      {{else}}
        <p>Warte auf Mitspieler</p>
      {{/unless}}
    {{/if}}
    <div class="clearfix"></div>
  </div>
</template>
