<template name="trump">
  <div class="container has-handcards">
    <h2>Trumpf</h2>

    {{> roundInfo}}

    {{#if equal leader userId}}
      <div style="width:100%;overflow:auto">
        <div class="row" style="padding-top:1rem">
          {{#each trumpCards}}
          <div class="col s3">
            {{> card color=color symbol=symbol class="trumpCard"}}
          </div>
          {{/each}}
        </div>
      </div>
    {{else}}
      {{username leader}} wählt den Trumpf...
    {{/if}}

    <div class="handcards">
      {{#each handCards}}
        {{> card base64=this}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</template>
