<template name="card">
  <svg color="{{card.color}}" symbol="{{card.symbol}}" base64="{{base64}}" class="{{class}} game-card" viewBox="95 95 600 900" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"  baseProfile="full" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <style bx:fonts="Cinzel Decorative">
        @font-face {
          font-family: "Cinzel Decorative";
          font-style: normal;
          font-weight: 700;
          font-stretch: normal;
          font-variant: normal;
          font-feature-settings:
          normal;
          src: url("/cards/CinzelDecorative-Bold.ttf");
        }
      </style>
    </defs>

    <rect style="fill: rgb(255, 255, 255); paint-order: fill; stroke: rgb(0, 0, 0); stroke-width: 5px;" x="100" y="100" width="590" height="890" rx="20" ry="20"/>
    <g transform="matrix(1, 0, 0, 1, -535, -152)">
      <g transform="matrix(1.26, 0, 0, 1.26, 200, -300)">
        {{#if card.color}}
        <image x="600" y="550" width="130" height="130" xlink:href="/cards/{{card.color}}.svg"></image>
        {{/if}}
      </g>
      <text style="fill: rgb(51, 51, 51); font-family: &quot;Cinzel Decorative&quot;; font-size: 190px; font-weight: 700; white-space: pre;" x="730" y="535">{{card.symbol}}</text>
    </g>
    <line style="stroke: rgb(0, 0, 0); stroke-miterlimit: 5; stroke-width: 4px;" x1="130" y1="550" x2="660" y2="550"/>
    <g transform="matrix(-1, 0, 0, -1, 1325, 1252)">
      <g transform="matrix(1.26, 0, 0, 1.26, 200, -300)">
        {{#if card.color}}
        <image x="600" y="550" width="130" height="130" xlink:href="/cards/{{card.color}}.svg"></image>
        {{/if}}
      </g>
      <text style="fill: rgb(51, 51, 51); font-family: &quot;Cinzel Decorative&quot;; font-size: 190px; font-weight: 700; white-space: pre;" x="730" y="535">{{card.symbol}}</text>
    </g>

  </svg>
</template>
