@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-variant: normal;
  font-feature-settings:
  normal;
  src: url("/cards/CinzelDecorative-Bold.ttf");
}

.cardFont { font-family: "Cinzel Decorative", bold }

.mini{
  height: 5rem;
  min-width: 1rem;
  margin: -.5rem .5rem -.5rem 0;
}
