<template name="rules">
  <div class="container">
    <h4>Regeln</h4>

    <h5>Allgemein</h5>
    <p>
      Binokel (auch Binocle, in den USA Pinochle, Schwäbisch: Benogl) ist ein regionales Kartenspiel aus dem württembergischen Raum und wird daher meist mit <a href="#cards">württembergischem Blatt</a> gespielt.<br />
      Es kann mit 3 bis 8 Spielern gespielt werden. Meistens wird es zu dritt oder viert gespielt.<br />
      Beim Dreierspiel spielen alle gegeneinander, während beim Spiel zu viert zwei <b>Teams</b> gebildet werden können, wobei die jeweils gegenübersitzenden Spieler zusammenspielen (Kreuzbinokel).<br />
      Auch beim Spiel zu sechst werden Zweierteams gebildet, es gibt also drei Teams.
    </p>
    <p>
      Binokel stammt aus der Familie der Stichspiele.<br />
      Im Unterschied zu anderen Stichspielen geben spezielle <a href="#showoff">Kartenkombinationen</a> (Meldeblätter) Zusatzpunkte.<br />
      Nach dem Austeilen wird um den <a href="#dapp">Dabb</a> (Stapel unausgeteilter Karten, vgl. Skat) gereizt.<br />
      Reizwerte sind dabei die Augen der erwarteten Stiche und Meldebilder.<br />
      <b>Die Partei, die am höchsten gereizt hat, muss dann auch das Spiel gewinnen, also mindestens so viele Punkte durch Stiche und gemeldete Figuren erhalten, wie sie gereizt hat.</b>
    </p>

    <h5 id="cards">Karten</h5>
    <p>
      Binokel wird mit dem württembergischen Blatt gespielt, es gibt jede Karte genau zwei Mal. Alle Karten (bis auf den <a href="#dapp">Dabb</a>) werden ausgeteilt.
    </p>
    <table>
      <tr>
        <th>Eichel</th>
        <th>Blatt</th>
        <th>Herz</th>
        <th>Schellen</th>
      </tr>
      <tr>
        <td><img src="/cards/a.svg" style="height:3rem" /></td>
        <td><img src="/cards/l.svg" style="height:3rem" /></td>
        <td><img src="/cards/h.svg" style="height:3rem" /></td>
        <td><img src="/cards/b.svg" style="height:3rem" /></td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Wert</th>
      </tr>
      {{#each cardAndValues}}
      <tr>
        <td class="cardFont">{{symbol}}</td>
        <td>{{name}}</td>
        <td>{{value}} Augen</td>
      </tr>
      {{/each}}
    </table>

    <h5 id="bet">Reizen</h5>
    <p>
      In der ersten Spielphase wird um den <a href="#dapp">Dabb</a> (die verdeckten Karten auf dem Tisch) und die Trumpffarbe gereizt ("gesteigert").
      Dabei versucht man abzuschätzen, wie viele Augen (Punkte) man mindestens durch Melden und Spielen erzielen wird.
      Ziel des Reizens ist es, das Spiel zu bekommen, d. h. den Dabb aufnehmen und die Trumpffarbe ansagen zu dürfen.<br />
      Der Spieler rechts vom Geber beginnt mit dem Reizen (ist vorne) und schreit seinen rechten Nachbarn an.
      Dieser antwortet dann typischerweise mit einem Reiz um 10 Augen höher und der Erste erhöht wieder, bis einer der beiden weg sagt (Also nicht wie beim Skat, wo einer schreit und der andere nur hört!).
      Danach kann auch der Geber noch reizen, wenn er will/kann. Beim Kreuzbinokel wird, nachdem der erste weg ist, mit dessen Spielpartner weitergereizt.
      Am Ende wird dann noch mit dem eigenen Spielpartner gereizt, wobei im eigenen Interesse möglichst schnell Einigkeit erzielt werden sollte.
      In manchen Regionen wird auch strikt im Gegenuhrzeigersinn gereizt, sodass der eigene Spielpartner noch vor dem zweiten Gegenspieler angeschrien wird.<br />
      Der Reiz wird notiert, um spätere Streitigkeiten zu verhindern.<br />
      Anschließend wird der Dabb für alle sichtbar aufgedeckt und derjenige, der das Spiel hat, nimmt ihn auf.<br />
      <br />
      <i>Hinweis: In dieser Webbasierten Umsetzung beginnt das Reizen bei 100 Augen und jeder kann gleichzeitig Reizen. Sobald nur noch ein Spieler in der "Auktion" ist, ist dieser der Höchstbietende und darf den <a href="#dapp">Dabb</a> aufnehmen. Ein Bot ist nur passiv im Spiel, d.h. er reizt nicht mit.</i>
    </p>

    <h5 id="dapp">Dapp</h5>
    <p>
      Bei einem Spiel mit Dapp werden entsprechend der Anzahl an Spielern 3, 4 oder 6 Karten nicht verteilt, sondern vorerst verdeckt zur Seite gelegt. Diese Karten werden Dapp genannt.<br />
      Nach dem <a href="#bet">Reizen</a> wird der Dapp offengelegt und der Höchstbietende bekommt diese Karten auf die Hand.
      Bevor es weiter geht, müssen jedoch dieselbe Anzahl an Karten wieder abgelegt werden. Diese Karten zählen dabei bereits zu den Stichen.<br />
      <br />
      Sobald der Dapp offen liegt, darf der Höchstbietende einen <a href="#durch">Durch</a> ankündigen.<br />
      Falls dem Höchstbietenden die Karten nicht <i>gefallen</i> und er befürchtet die gereizten Augen nicht zu erreichen kann er vor dem Ablegen der Karten <a href="#giveUp">aufgeben</a>.
    </p>

    <h5 id="exclaim">Rufen</h5>
    <p>
      Beim Rufen kann der Spieler, der das Spiel für sich gereizt hat eine Karte die er nicht hat rufen.<br />
      Das bedeutet er wählt eine Karte (Farbe und Symbol) und muss dafür eine seiner Handkarten zurückgeben.
      Nur der Spieler, dem die Karte herausgerufen wurde, sieht welche Karte zurückgegeben wird.
      Alle anderen Mitspieler wissen jedoch, welche Karte gerufen wurde.
    </p>

    <h5 id="showoff">Melden</h5>
    <p>
      Beim Melden können zusätzliche Augen gesammelt werden. Die folgenden Meldebilder können auch mehrfach für Meldungen verwendet werden: Mit einem Blatt-Ober, einem Blatt-König und einem Schellen-Unter kann man beispielsweise einen Binokel und ein Schippen-Paar melden. So können auch Vier Gleiche, von der eine Karte Bestandteil einer Familie ist, gemeldet werden. Hingegen kann mit einem einzelnen Ober oder König kein Paar mit den Karten einer Familie gebildet werden, genauso wenig wie man beispielsweise mit einem König und zwei Obern einer Farbe zwei Pärchen melden kann.<br />
      Die gemeldeten Punkte zählen nur dann, wenn <b>mindestens ein Stich</b> gemacht wurde!
    </p>

    <table>
      <tr>
        <th>Name</th>
        <th>Wert</th>
        <th>Wert Doppelt</th>
        <th>Karten (außer Binokel beispielhaft)</th>
      </tr>
      {{#each exclaimCards}}
      <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
        <td>{{dvalue}}</td>
        <td>
        {{#each cards}}
          {{> card color=color symbol=symbol class="mini"}}
        {{/each}}
        </td>
      </tr>
      {{/each}}
    </table>

    <h5 id="playing">Ausspielen</h5>
    <p>
      Nach dem <a href="#showoff">Melden</a> wird ausgespielt und Stiche gemacht.
      Gespielt wird – wie beim Reizen – gegen den Uhrzeigersinn.
      Es beginnt derjenige, der auch mit dem <a href="#bet">Reizen</a> begonnen hat, nur bei den Spezialspielen <a href="#durch">Durch</a> nicht.<br />
      Absteigend gilt in dieser Reihenfolge:
    </p>
      <ul class="browser-default">
        <li>Farbzwang: Die ausgespielte Farbe muss bedient werden.</li>
        <li>Stichzwang: Wer kann, muss stechen; d. h. eine höhere Karte, als bereits ausgespielt wurde, legen.</li>
        <li>Trumpfzwang: Kann die ausgespielte Farbe nicht bedient werden, muss Trumpf gespielt werden.</li>
        <li>Bei Karten gleichen Wertes sticht die zuerst ausgespielte.</li>
      </ul>
    <p>
      Eine Trumpfkarte sticht automatisch alle Karten der anderen Farben.
    </p>

    <h5 id="summary">Auswertung</h5>

    <p>
      In der vierten Phase werden die Augen der erreichten Stiche gezählt.
      <b>Wer den letzten Stich macht, erhält 10 Punkte extra.</b>
      Bei den erreichten Zählwerten kann ab 5 Augen auf die nächste 10er-Stelle auf- bzw. bis 4 Augen abgerundet werden.
      Wird auf- bzw. abgerundet zählt diese Regel für alle Spiele.
      Beim Kreuzbinokel zählen die Punkte der beiden Partner jeweils zusammen (es bietet sich daher im Spiel an nur einen Stapel für die gestochenen Karten je Team zu machen).<br />

      Es wird auch geprüft, ob der Spielmacher mit der Summe der gemeldeten Punkte und der Punkte aus dem Spiel den <a href="#bet">Reizwert</a> erreicht hat (jedes Auge zählt!).
      Falls der Reizwert nicht erreicht wurde, geht der Spielmacher den <b>doppelten Reizwert ab</b> und seine gemeldeten Punkte verfallen.<br />

      Notiert man den Spielstand, was bei einer normalen Partie üblich ist, können Spieler durch verlorene Spiele (einschließlich <a href="#giveUp">Abgehen</a>) auch ins Minus gelangen ("in den Keller gehen").
      Der Punktestand 0 ist also nur die Anfangsbedingung für alle, nicht eine untere Grenze. Die Partie endet immer erst dann, wenn ein Spieler die vereinbarte Punktezahl, z. B. 1000, erreicht oder überschritten hat; dabei ist es egal, wie viele Punkte (oder Minuspunkte) andere Spieler haben.
    </p>

    <h5 id="durch">Der Durch</h5>
    <p>
      Ziel des Spieles ist es, alle Stiche zu machen. Es wird weder eine Trumpf-Farbe gewählt, noch gemeldet und derjenige, der das Spiel hat, beginnt (kommt raus).<br />
      Der Durch zählt 1.000 Punkte. Wird nur ein Stich verloren, bekommt der Höchstbietende hierfür -2000 Augen.
    </p>

    <h5 id="giveUp">Abgehen</h5>
    <p>
      Sofern derjenige, der am höchsten gereizt hat, auch nach Aufnahme des Dabb keine Möglichkeit sieht, seinen Reiz zu erreichen, kann er abgehen.
      Beim Kreuzbinokel gilt es abzuwägen, wie viel der Partner wohl melden kann, bevor man abgeht oder das Spiel wagt.
      Dabei ist es nicht erlaubt den Partner zu fragen, ob er etwas melden kann. Der Spieler wählt die Trumpffarbe, in die er abgehen will (z. B. "Ab in Schippen"), und teilt diese mit gleichzeitigem Aufdecken seiner Karten (nicht verpflichtend) mit.<br />
      <br />
      Regelungen fürs <a href="#showoff">Melden</a>:
      <ul class="browser-default">
        <li>Pro Spieler werden 10 Punkte auf das Gemeldete addiert (z. B. 40 mit bei 4 Spielern).</li>
        <li>Der Spieler, der abgegangen ist (und beim Kreuzbinokel auch sein Mitspieler), darf nicht melden und geht/fährt die Anzahl der gereizten Punkte ab; somit wird sein Reiz nur einfach von seinem Punktestand abgezogen.</li>
      </ul>
    </p>

    <h5 id="goal">Ziel</h5>
    <p>
      Das Ziel wird vorher von allen Spielern gemeinsam festgelegt. Normalerweise einigt man sich auf einen festen Wert, der ein Vielfaches von 500 ist; z. B. 1000, 2000, 2500. Das Spiel endet, sobald ein Spieler die gewählte Grenze mit einem Spiel erreicht oder überschreitet.
      Es muss allerdings ein geschafftes Spiel sein, darf also nicht durch <a href="#giveUp">Abgehen</a> eines Gegners erreicht werden.
    </p>

  </div>
</template>
