<template name="game">
  <div id="game-container">
    {{#with thisRound}}
      {{#if join}}
        {{> join_game}}
      {{else}}
        {{> Template.dynamic template=step}}
      {{/if}}
    {{/with}}
  </div>
</template>
