<template name="games">
  <div class="container">
    <h4>Spiele</h4>

    <div class="row">
      <div class="col s12 m6">
        <h5>Meine Spiele</h5>
        <ul class="collection">
          {{#each get_mygames}}
            <li class="collection-item two-col-grid" onclick="FlowRouter.go('/game/{{_id}}')">
              <div>
                {{name}}<br />
                <small>
                  {{goal}} | {{nrPlayers}}/{{nrTeams}}
                  {{#if private}} | Privat{{/if}}
                  {{#if simpleMode}} | Einfach{{/if}}
                  {{#if dapp}} | Mit Dapp{{/if}}
                  {{#if exclaim}} | Mit Rufen{{/if}}
                </small>
              </div>
              <div>
                  <a class="collection-icon brown-text"><i class="material-icons">arrow_forward</i></a>
              </div>
            </li>
          {{else}}
            <li class="collection-item">Keine Spiele</li>
          {{/each}}
        </ul>
      </div>

      <div class="col s12 m6">
        <h5>Spiele von Freunden</h5>
        <ul class="collection">
          {{#each get_gamesOfFriends}}
            <li class="collection-item two-col-grid" onclick="FlowRouter.go('/game/{{_id}}')">
              <div>
                {{name}}<br />
                <small>
                  {{goal}} | {{nrPlayers}}/{{nrTeams}}
                  {{#if private}} | Privat{{/if}}
                  {{#if simpleMode}} | Einfach{{/if}}
                  {{#if dapp}} | Mit Dapp{{/if}}
                  {{#if exclaim}} | Mit Rufen{{/if}}
                </small>
              </div>
              <div>
                  <a class="collection-icon brown-text"><i class="material-icons">arrow_forward</i></a>
              </div>
            </li>
          {{else}}
            <li class="collection-item">Keine Spiele</li>
          {{/each}}
        </ul>
      </div>

      <div class="col s12 m6">
        <h5>Offene Spiele</h5>
        <ul class="collection">
          {{#each get_publicgames}}
            <li class="collection-item two-col-grid" onclick="FlowRouter.go('/game/{{_id}}')">
              <div>
                {{name}}<br />
                <small>
                  {{goal}} | {{nrPlayers}}/{{nrTeams}}
                  {{#if simpleMode}} | Einfach{{/if}}
                  {{#if dapp}} | Mit Dapp{{/if}}
                  {{#if exclaim}} | Mit Rufen{{/if}}
                </small>
              </div>
              <div>
                  <a class="collection-icon brown-text"><i class="material-icons">open_in_new</i></a>
              </div>
            </li>
          {{else}}
            <li class="collection-item">Keine Spiele</li>
          {{/each}}
        </ul>
      </div>


    </div>




  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light brown modal-trigger" href="#addGameModal">
      <i class="material-icons">add</i>
    </a>
  </div>


  <div id="addGameModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Spiel erstellen</h4>
      <div class="row">
       <div class="input-field col s12">
         <input type="text" id="name" placeholder="Spiel Name" />
         <label for="name" class="active">Spielname</label>
       </div>
       <div class="input-field col s12 m6 l3">
         <div class="switch">
          <label>
            <input id="private" type="checkbox">
            <span class="lever"></span>
            Privates Spiel
          </label>
         </div>
       </div>
       <div class="input-field col s12 m6 l3">
         <div class="switch">
          <label>
            <input id="simpleMode" type="checkbox">
            <span class="lever"></span>
            Einfach Modus
          </label>
         </div>
       </div>
       <div class="input-field col s12 m6 l3">
         <div class="switch">
          <label>
            <input id="dapp" type="checkbox">
            <span class="lever"></span>
            Mit Dapp
          </label>
         </div>
       </div>
       <div class="input-field col s12 m6 l3">
         <div class="switch">
          <label>
            <input id="exclaim" type="checkbox">
            <span class="lever"></span>
            Mit Rufen
          </label>
         </div>
       </div>
       <div class="input-field col s12 m4 l2">
         <div class="switch">
          <label>
            <input id="bot" type="checkbox">
            <span class="lever"></span>
            Mit Bot
          </label>
         </div>
       </div>
       {{#with rangePlayers}}
       <div class="range-field col s12 m4 l5">
          <input type="range" id="nrPlayers" min="{{min}}" max="{{max}}" value="{{value}}"/>
          <label for="nrPlayers">{{nr}} Spieler</label>
        </div>
        {{/with}}
        {{#with rangeTeams}}
        <div class="range-field col s12 m4 l5">
          <input type="range" id="nrTeams" min="{{min}}" max="{{max}}" value="{{value}}" {{disabled_if_equal min max}} />
          <label for="nrTeams">{{nr}} Teams</label>
        </div>
        {{/with}}
        <div class="input-field col s12">
          <input type="number" id="goal" value="1000" min="100" step="100" />
          <label for="goal" class="active">Ziel-Punktzahl</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
      <a id="createGame" class="waves-effect waves-green btn-flat">Erstellen</a>
    </div>
  </div>

  </div>
</template>
