#game-container{
    background-color: #2e7d32; /* green darken-2 */
    color: #fefefe;
    height: calc(100vh - 56px);
    margin-bottom: -6rem;
    padding: 1rem;
    overflow-y: auto;
}

.container.has-handcards {
    height: 72%;
    overflow-y: auto;
}

@media screen and (min-width: 600px){
  #game-container{
      height: calc(100vh - 64px);
  }
}

#game-container .card{
  color: #000;
  padding: 0.2rem 0.5rem;
}

.handcards{
  overflow: auto;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.stackCards{
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.stackCard{
  min-width: 6rem;
  min-height: calc(20vh + 1rem);
}

@media screen and (max-width: 1024px) {
  .handcards{
    justify-content: flex-start;
  }
}

.game-card{
  height: 20vh;
  min-width: 6rem;
}

.handCard, .trumpCard, .exclaimCard {
  cursor: pointer;
}

.handcards > svg {
  margin: 0 -1rem 0 -1rem;
}

.handcards > svg:last-child {
  margin: 0 0 0 -1rem;
}

.handcards > svg:first-child {
  margin: 0 -1rem 0 0;
}

.handcards > .game-card:hover:not(.selected), .trumpCard:hover, .exclaimCard:hover{
  transform: translateY(-0.2rem);
}

.game-card.selected{
  transform: translateY(-1rem);
}

.game-card.unvalid{
  cursor: not-allowed;
}

.game-card.disabled rect{
  fill: #949494 !important;
  filter: gray;
}

.game-card.dappCard rect{
  stroke: blue !important;
  stroke-width: 20px !important;
}

#round-info{
  position: fixed;
  top: 4rem;
  right: 1rem;
}

#game-trump{
  display: inline-flex;
  position: absolute;
  right: 0;
  align-items: center;
}
